.menu {
  width: 100%;
  height: 100%;
  label {
    display: block;
    width: 100%;
    height: 40px;
    background: #000;
  }
  #toggler {
    display: none;
  }

  .menu-icon {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;

    .menu-icon-line-1 {
      position: absolute;
      top: 12px;
      display: block;
      width: 20px;
      height: 1px;
      background: #fff;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
    }

    .menu-icon-line-2 {
      position: absolute;
      top: 28px;
      display: block;
      width: 20px;
      height: 1px;
      background: #fff;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
    }
  }

  #toggler:checked + label {
    .menu-icon {
      .menu-icon-line-1 {
        top: 20px;
        transform: rotate(45deg);
        transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
      }

      .menu-icon-line-2 {
        top: 20px;
        transform: rotate(-45deg);
        transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
      }
    }
  }
  .menu-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    //   height: 100%;
    transform: scaleY(0);
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.3;
    transform-origin: 50% 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-out;
  }

  #toggler:checked ~ .menu-list {
    transform: scaleY(1);
    opacity: 1;
  }

  ul {
    margin-top: 1em;
  }

  ul li {
    color: #fff;
  }
}
